<h1 style="text-align: center; font-size: 40px;">Undergraduate Energy Research Fair</h1>

<div class="container-fluid">

	<div class="row align-middle" style="text-align: center">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
				<p>
				</p>
				<p> 
					The Undergraduate Energy Club is proud to present the first-ever Undergraduate Energy Research Fair this April 26th, 2018. The fair will bring together undergraduates from all majors doing independent research, original projects, UROPs, etc. in either energy or sustainability with professors and experts in the field. We will have first, second, and third place cash prizes as voted for by judges and we hope that this encourages undergraduates to pursue sustainability-related projects and enhance their networking and presentation skills. Come for yummy pizzas! Hope to see you there! 
				</p>
				<p>
				</p>
				<h2> 
					<p>Thursday, April 26th </p>
					<p> 7-9pm </p>
					<p> Twenty Chimneys </p>
				</h2>

				<!-- <div class="ad"> 
				This event is sponsored by </br>
				<%= image_tag("bertuccis.jpg", width: "8%", alt: "Bertucci's") %>
				</div> -->
			</div>
			<div class="col-sm-1">
			</div>
	
		</div>


	<div> 

	</div> 


</div>

